.headerleft{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}
.headerleftlg{
    font-size: 20px;
    display: none;
}
.headerright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 0.5rem;
}

.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid grey
}
.search{
    display: ;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 0.5px solid rgb(179, 178, 178);
    font-size: 16px;
}
#left{
    text-decoration: none;
    color: black;
}
#bottomtags{
    text-decoration: none;
    color: rgb(41, 41, 41);
    gap: 1rem;
}
.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
    display: none;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
   
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
    .headercentre h3{
        font-size: 25px;
    }
    #menubutton{
        display: none;
    }
    .headerleftlg{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    #container{
        width: 100%;
    max-width: 1400px;
    padding: 0.5rem;
    margin: 0 auto;

    }
    .headerbottom{
        display: flex;
    }
    .headers {
        border-bottom: none;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */

}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}